@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Fuzzy+Bubbles:wght@400;700&display=swap');
/*  font-family: "Fuzzy Bubbles", sans-serif; */
/*  font-family: "Chewy", system-ui; */

.container {
    height: 100vh;


    background-image: url(../img/background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    color: #404040;
}

/* Header styles */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 3rem 0 1rem;
}

.logo-section {
    display: flex;
    align-items: center;
}

.logo {
    width: 8rem;
}

.title {
    font-family: "Chewy", system-ui;
    font-size: 2rem;
}

.search-section {
    display: flex;
    justify-content: center;
    align-items: center;

}

.search-bar {

    position: absolute;

    padding-left: 1rem;

    width: 25rem;
    height: 3.1rem;

    border-radius: 10px;
    border: none;

    font-size: 1rem;
    font-family: "Fuzzy Bubbles", sans-serif;

    box-shadow: rgba(30, 30, 93, 0.15) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.search-button {
    position: relative;
    left: 8.5rem;

    width: 7rem;
    height: 2rem;

    border-radius: 7px;
    border: none;

    background-color: #C4D7FF;
    color: #404040;

    font-size: 1rem;
    font-family: "Fuzzy Bubbles", sans-serif;
}

.add-button {
    width: 11rem;
    height: 3rem;

    border-radius: 11px;
    border: none;

    margin-left: 4rem;

    background-color: #C4D7FF;
    color: #404040;

    font-size: 1rem;
    font-family: "Fuzzy Bubbles", sans-serif;
}



/* Sidebar styles */
.sidebar {
    display: flex;
    justify-content:space-around;
}

.filtered-statut {
    width: 11rem;
    height: 3rem;

    border-radius: 11px;
    border: none;

    background-color: #C4D7FF;
    color: #404040;

    font-size: 1rem;
    font-family: "Fuzzy Bubbles", sans-serif;
}

.filtered-deadline {
    width: 11rem;
    height: 3rem;

    border-radius: 11px;
    border: none;

    background-color: #C4D7FF;
    color: #404040;

    font-size: 1rem;
    font-family: "Fuzzy Bubbles", sans-serif;
}

.progress-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.progress-label {
    font-size: 1rem;
    font-family: "Fuzzy Bubbles", sans-serif;
}

.progress {
    height: 2rem;
}

/* Modal styles */


/* Modal container */
.modal {

    width: 25rem;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    
    
    background-color: #C4D7FF;

    margin: 2rem;
    padding: 1.5rem;

    border-radius: 9px;

    display: none; /* Initially hidden */
}

.is-active {
    display: flex; /* Show the modal when active */
}

.modal-background {
    /* Styles for the modal background */
}

.modal-card {
    width: 100%;
}

.modal-card-header {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.modal-card-title {
    color: #404040;

    font-size: 1.5rem;
    font-family: "Fuzzy Bubbles", sans-serif;
}

.input {
    background-color: #FFFBF9;
    color: #404040;

    font-size: 1rem;
    font-family: "Fuzzy Bubbles", sans-serif;

    border: none;
    border-radius: 6px;

    margin: 3rem 0 3rem 1.5rem;
}


.button-modal {
    width: 9rem;
    height: 2rem;

    border-radius: 11px;
    border: none;

    background-color: #FFFBF9;
    color: #404040;

    font-size: 1rem;
    font-family: "Fuzzy Bubbles", sans-serif;
}

.button-close {

    border-radius: 6px;
    border: none;

    background-color: #FFFBF9;
    color: #404040;

    font-size: 1rem;
    font-family: "Fuzzy Bubbles", sans-serif;
}

.modal-card-footer {
    display: flex;
    align-items: center;
    justify-content: space-around;

    margin-right: 2rem;
}

/* Task list styles */

.lists-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.message {
    width: 25rem;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    
    
    border: 3px solid #87A2FF;

    margin: 2rem;
    padding: 1.5rem;

    border-radius: 9px;
}

.message-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-button {
    width: 90%;

    display: flex;
    justify-content: end;
    align-items: center;

}

.list-name {
    width: 100%;
    height: 5rem;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #FFD7C4;

    border-radius: 11px;

    font-family: "Chewy", system-ui;
    font-size: 1.5rem;
}

.modify-list-btn {
    /* Add your styles here */
}

.delete-list-btn {
    
}

.add-card-btn {
    /* Add your styles here */
}

.message-body {
    /* Add your styles here */
}

.icons {
    width: 2rem;
}